/* Estilo geral */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #008cff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

/* Navegação */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

button {
  transition: .3s ease-in-out;
}

.adicionar:hover {
  transform: scale(1.05);
}

nav a:hover {
  color: #ddd;
}

/* Produtos */
.produtos {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produtos table {
  width: 100%;
  border-collapse: collapse;
}

.produtos img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.produtos img:hover {
  transform: scale(1.05);
}

.produtos td {
  padding: 10px;
  border: 0.5px solid #ccc;
  text-align: center;
  width: 5vh;
}

.produtos h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.produtos p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.produtos .adicionar {
  background-color: #008cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.produtos .adicionar:hover {
  background-color: #2083d4;
}

/* Carrinho de compras */
.carrinho {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.carrinho table {
  width: 100%;
  border-collapse: collapse;
}

.carrinho th {
  background-color: #008cff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.carrinho td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.carrinho p {
  margin: 10px 0;
}

.carrinho button {
  background-color: #2083d4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carrinho button:hover {
  background-color: #1c71b6;
  transform: scale(1.05);
}

::-webkit-scrollbar {
  display: none;
}

/* Responsividade */
@media screen and (width: 375px) and (height: 667px) {
  main {
    flex-direction: column;
  }
  
  .carrinho {
    margin-top: 20px;
  }
  
  .produtos {
    padding: 10px;
  }
  
  .produtos img {
    height: 150px;
  }
  
  .produtos h3 {
    font-size: 18px;
  }
  
  .produtos p {
    font-size: 14px;
  }
  
  .produtos .adicionar,
  .carrinho button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
